.content{
    background-color: rgb(37, 36, 36)
}
.item.item-input{
    background-color: transparent;
}
#video {
    position: fixed;
    
    top: 50%;
    
    left: 50%;
    
    min-width: 100%;
    
    min-height: 100%;
    
    width: auto;
    
    height: auto;
    
    z-index: -100;
    
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    
    transform: translateX(-50%) translateY(-50%);
    

}
#login {
    background: #1c2627 url("../img/login_bg.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

ion-row {
    align-items: center;
    text-align: center;
  }
  .logo {
    padding-top: 200px;
    padding-bottom: 20px;
    width: 90%;
    display: block;
    margin: 0 auto;
  }
  .submit-btn {
    font-size: 1.3em;
    background-color: #3B5998;
    height: 50px;
  }
  .register-btn{
      color: white;
  }
