.email{
    color: black;
}
.pass{
    color: black;
}
.bg{
    background-color: rgb(238, 238, 238)
}
.driver{
    background: transparent;
    border-color: transparent;
    width: 100%;
}
.passing{
    border-radius: 0px;
    background: transparent;
    border-color: transparent;
    width: 100%
}