.email{
    color: black;
    font-size: 1em;
}
.pass{
    color: black;
    font-size: 1em;
}
.bg{
    background-color: rgb(238, 238, 238);
}
.driver{
    background: transparent;
    border-color: transparent;
    width: 100%;
}
.passing{
    border-radius: 0px;
    background: transparent;
    border-color: transparent;
    width: 100%
}
.submit{
    font-size: 1.3em;
    background-color: #00091C;
    height: 50px;
}