   mylocation{
       pointer-events: none;
   #locator{
        position: absolute;
        left: 50%;
        top:50%;
        width: 50px;
        height: 50px;
        margin-left: -25px;
        margin-top:-50px;
    }
}